/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */




#content-area {
    height = 50%;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 50px;
}

.mb {
	margin-bottom: 50px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body, html {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #ffffff;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/back2.jpg) no-repeat center top;
	text-align: center;
	background-attachment: fixed;
	background-position: center center;
	flex:1;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color: #000066;
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 85px;
	
    letter-spacing: 20px;
    text-shadow: 2px 2px 2px #ffffff;
}

#headerwrap h4 {
	font-weight: 400;
    font-size: 45px;
	color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#footer {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #f2f2f2;
}

#footer i {
	font-size: 40px;
	color: #4A4A4A
}

#footer i:hover {
	color: #9E9E9E
}




/*     NEWS POPUP            */
#overlay {
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    background: #515A5A;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: hidden;
    transition: all 1s ease;
}
#news-popup {
    border-radius: 25px;
    font-family:'Raleway';
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    max-height: 75%
    max-width:90%;
    width: 500px;
    height: 400px;
    margin-left: -250px; /*Half the value of width to center div*/
    margin-top: -300px; /*Half the value of height to center div*/
    z-index: -1;
    visibility: hidden;
}
#news-popupclose {
    float: right;
    cursor: pointer;
}

#news-popup[data-pop="slide-up"] {
  top: -50%;
  transition: all .5s ease-in-out;
}

#news-popup[data-pop="slide-up"].show {
  visibility: visible;
  z-index: 202;
  opacity: 1;
  top: 50%;
}
#news-popup[data-pop="slide-up"].show ~ #overlay {
  opacity:0.5;
  visibility: visible;
  z-index: 201;
}

.carousel-inner img{
    margin: auto;
    max-height:400px;
}
.carousel-caption h3{
    color:#ffffff;
    text-shadow: 0 0 5px #000000;
    font-size: 1.3em;
    font-weight: bold;
}
.carousel-caption p{
    font-style: italic;
    text-shadow: 0 0 5px #000000;
    font-size: 1.1em;
    font-weight: bold;
    color:#ffffff;
}

.carousel-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/*                           */




/*     SPIDERMAN POPUP       */
#popup {
    position: absolute;
    top: 0%;
    left: 10%;
    
    height: 40%;
    margin-left: -250px; /*Half the value of width to center div*/
    margin-top: -250px; /*Half the value of height to center div*/
    z-index: -1;
    visibility: hidden;
}
#popupclose {
    float: right;
    padding: 10px;
    cursor: pointer;
}
.popupcontent {
    height: 30%; 
}

.popupcontent img{
    padding-top: 35%;
    padding-left: 30%;
    max-width: 750px;
    max-height: 750px;
}
#popup[data-pop="slide-down"] {
  top: -50%;
  transition: all .5s ease-in-out;
}
#popup[data-pop="slide-down"].show {
  visibility: visible;
  z-index: 200;
  opacity: 1;
  top:0%;
}
#popup[data-pop="slide-down"].deactivated {
  visibility: 0;
  z-index: 100;
  opacity: 1;
  top:0%;
}
/*                */




.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}



@media screen and (max-width: 481px){

#headerwrap h1 {
	color: #000066;
	font-size: 45px;
	
    letter-spacing: 15px;
    text-shadow: 2px 2px 2px #ffffff;
}

#headerwrap h4 {
	font-weight: 300;
    font-size: 30px;
	color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.popupcontent img{
    padding-top: 60%;
    padding-left: 60%;
    max-width: 450px;
    max-height: 450px;
}


#news-popup {
    border-radius: 25px;
    font-family:'Raleway';
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    max-height: 75%
    max-width:70%;
    width: 300px;
    height: 300px;
    margin-left: -43%; /*Half the value of width to center div*/
    margin-top: -200px; /*Half the value of height to center div*/
    z-index: -1;
    visibility: hidden;
}

#footer {

	background-color: #f2f2f2;
}


 hr {
    display: block;
    
    padding: 0;
}

}