/*
 *
 * GLOBAL STYLING
 *
 */

html, body {
	background-color: #181818;
	font-size: 16px;
	color: #222;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

body {
	/*zoom: 94.75%;*/ /* Used for printing in Chrome */
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	line-height: 1.4257;
}

ul {
	margin: 0;
	padding: 0;
}

footer {
	padding-top: 10px;
	text-align: center;
	color:rgb(85,142,213);
	font-size: 12px;
}

.uppercase {
	text-transform: uppercase;
}

#cv {
	width: 90%;
	max-width: 820px;
	background-color: #f3f3f3;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}


/*
 *
 * TOP HEADER
 *
 */

.top {
	width: 100%;
	background-color: rgb(85,142,213);
	color: #f3f3f3;
	padding: 31px 0px 0px 0px;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
}
.name {
	letter-spacing: 4px;
	font-size: 64px;
	float:left;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 1.82;
	transform: scale(.85, 1);
	font-weight: 200;
	color:#f3f3f3;
}
.name span{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 78px;
}
.contact {
	text-align: left;
	float:right;
	font-size: 14px;
	font-weight: 300;
}
.contact td {
	padding:0 13px;
}

.icon{
	font-size:16px;
	color:#f3f3f3;
}

.fa {
	padding-right: 10px;
}



/*
* MAIN TABLE SECTION
*/

.main{
	table-layout: fixed;
}

#middle {
	font-size: 12px;
	position: relative;
	padding: 0 10px;
	float:right;
	max-width: 580px;
}

.header {
	color: rgb(85,142,213);
	text-transform: uppercase;
	width: 100%;
	font-size: 16px;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
.header:after, .header:before {
	position: absolute;
    top: 42%;
    overflow: hidden;
    width: 48%;
    height: 3px;
    content: '\a0';
    margin-left: 2%;
    background-color: rgb(85,142,213);
}
.header:before {
	margin-left: -50%;
    text-align: right;
}


/*
*
* SIDE PANEL SECTION STYLING
*
*/

#left {
	float:left;
	padding: 20px 10px 0px 15px;
	text-overflow: ellipsis;
	min-width: 200px;
}

#left .header{
	text-align: left;
	padding-left: 10px;
	padding-right: 10px
}
#left .header:after{
    width: 100%;
    margin-left:5%;
}
#left .header:before{
	width: 0%;
}


/*
 *
 * WORK SECTION
 *
 */

#work {
	margin: 15px 0;
}
.job {
	margin: 5px 0 3px;
	font-weight: bold;
	font-size: 15px;
	color:rgb(85,142,213);;
}
.award{
	margin: -5px 0px 0px 0px;
	font-weight: bold;
	font-size: 15px;
	color:rgb(85,142,213);;
}
.title {
	font-style: italic;
	font-size: 13px;
	color:black;
}
.year {
	position: absolute;
	right: 30px;
	font-weight: normal;
	color:black;
}
.custom-bullet {
	padding-left: 10px;
}

/* ----------------------------------------------Print---------------------------------------------------------------------*/

@media print {
	html, body {
		background-color: #f3f3f3;
		font-family: 'Lato', sans-serif;
		-webkit-print-color-adjust: exact;
	}
	#cv {
		width: auto;
		max-width: none;
	}
	.content {
		font-weight: 300; /* lighter for pdf printing */
	}
	.job, #research .project { /* lighter for pdf printing */
		font-weight: 600;
	}
}


